body{
    padding-top: 90px;
    background-color: #e8c7e8;
    font-family: 'Roboto', sans-serif;
}

.has-background-success {
    background-color: #48c78e !important;
}
.has-background-danger {
    background-color: #f14668 !important;
}

/*.color1 {color: #2b9cc8;}
.color2 {color: #70afd6;}
.color3 {color: #e8c7e8;}
.color4 {color: #eddded;}
.color5 {color: #f3f3f3;}*/